export(areaplot)
export(getcurrent)
export(getCapitalGain)
export(highlowplot)
export(listbyindustry)
export(getPlotCapitalGain)
export(getCapitalGainMonth)
export(densityGain)
export(plotDensity)
export(makestocktable)
export(getMoyenne)
export(getVariance)
export(getSkewness)
export(getKurtosis)
export(plotwrapper)
export(smoothplot)
export(yahoodata)
import(ggplot2)
import(moments)
